<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} centro</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="centro.nombre" placeholder="nombre">
      <label for="direccion">Dirección:</label>
      <input class="form-control" id="direccion" [(ngModel)]="centro.direccion" placeholder="direccion">

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarCentro()">Guardar  <i class="bi bi-save"></i></button>
</div>


