<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <button> x </button> <!-- Botón de cierre -->
        </div>
        <div>
            Destinatario: <ul>
                <li *ngFor="let destinatario of getMensaje().getDestinatarios()">
                    {{destinatario.getNombre()}}
                </li>
            </ul>
        </div>
        <hr>
        <div>
            Copia: <ul>
                <li *ngFor="let destinatario of getMensaje().getCopia()">
                    {{destinatario.getNombre()}}
                </li>
            </ul>
        </div>
        <hr>
        <div>
            Asunto: {{getMensaje().getAsunto()}}
        </div>
        <hr>
        <div>
            Mensaje:
        </div>
        <div>
            {{getMensaje().getContenido()}}
        </div>
        <div>
            <button (click)="eliminarMensaje()">Eliminar</button>
        </div>
    </body>
</html>