<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <button> x </button> <!-- Botón de cierre -->
        </div>
        <div>
            Destinatario: {{mensajeDestinatarios}}
        </div>
        <hr>
        <div>
            Copia: {{mensajeCopia}}
        </div>
        <hr>
        <div>
            Asunto: {{mensajeAsunto}}
        </div>
        <hr>
        <div>
            Mensaje:
        </div>
        <div>
            {{mensajeContenido}}
        </div>
    </body>
</html>