<div class="container">
  <div class="row">
    <h2 >Detalles de {{centro?.nombre}}</h2>
  </div>

<div class="row" id="nombre">
  <label class="col-md-3" for="nombre">Nombre:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{centro?.nombre}}</span>
</div>
<div class="row" id="direccion">
  <label class="col-md-3" for="direccion">Dirección:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{centro?.direccion}}</span>
</div>
<div class="row">
  <button class="col-auto btn btn-outline-primary" (click)="eliminarCentro()">Eliminar <i class="bi bi-trash-fill"></i></button>
  <div class="col-1"></div>
  <button class="col-auto btn btn-outline-primary" (click)="editarCentro()">Editar <i class="bi bi-pencil-fill"></i></button>
</div>

</div>
