<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <button> x </button> <!-- Botón de cierre -->
        </div>
        <div>
            Destinatario: <mat-form-field>
                <input type="text" placeholder="Enter Name" matInput formControlName="myControl" [matAutocomplete]="auto"/>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions"[value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <hr>
        <div>
            Copia:
        </div>
        <div>
            Copia Oculta:
        </div>
        <hr>
        <div>
            Asunto: <input type = "text" [(ngModel)] = "asunto">
        </div>
        <hr>
        <div>
            Mensaje:
        </div>
        <div>
            <input type = "text" [(ngModel)] = "contenido">
        </div>
        <div>
            <button (click)="enviarMensaje()">Enviar</button>
        </div>
    </body>
</html>