<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <button> x </button> <!-- Botón de cierre -->
        </div>
        <div>
            Destinatario:
        </div>
        <hr>
        <div>
            Copia:
        </div>
        <div>
            Copia Oculta:
        </div>
        <hr>
        <div>
            Asunto: <input type = "text" [(ngModel)] = "contenido">
        </div>
        <hr>
        <div>
            Mensaje:
        </div>
        <div>
            <input type = "text" [(ngModel)] = "contenido">
        </div>
    </body>
</html>