<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app.component.css">
  </head>
  <body>
  <div class="container">
    <div class="centros-ctr">
      <div class="contenido">
        <h1>Lista de centros</h1>
        <div class="list-group">
          <button *ngFor="let centro of centros"
            class="list-group-item list-group-item-action"
            (click)="elegirCentro(centro)"
            [class.active]="centro === centroElegido">{{centro.nombre}}</button>
        </div>
        <br>
        <button type="button" class="btn btn-outline-primary bi bi-plus-lg" (click)="aniadirCentro()"></button>
      </div>
      <div class="contenido" *ngIf="centroElegido">
        <app-detalle-centro [centro]="centroElegido"
          (centroEditado)="centroEditado($event)"
          (centroEliminado)="eliminarCentro($event)"
          ></app-detalle-centro>
      </div>
    </div>

    <div *ngIf="esAdmin; else bloqueGerente">

      <div class="gerentes-ctr">
        <div class="contenido">
          <h1>Lista de gerentes</h1>
          <div class="list-group">
            <button *ngFor="let gerente of gerentes"
              class="list-group-item list-group-item-action"
              (click)="elegirGerente(gerente)"
              [class.active]="gerente === gerenteElegido">{{gerente.id}}</button>
          </div>
          <br>
          <button type="button" class="btn btn-outline-primary bi bi-plus-lg" (click)="aniadirGerente()"></button>
        </div>
        <div class="contenido" *ngIf="gerenteElegido">
          <app-detalle-gerente [gerente]="gerenteElegido"
            (gerenteEditado)="gerenteEditado($event)"
            (gerenteEliminado)="eliminarGerente($event)"
            ></app-detalle-gerente>
        </div>
      </div>
      <button type="button" class="btn" (click)="asociar()">ASOCIAR</button>
    </div>
    <ng-template #bloqueGerente>
      Mensajes aparecerían aquí
    </ng-template>

   

   
  </div>
  </body>
</html>
