<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button> <!-- Botón de cierre -->
</div>
  <div class="modal-body">
    <div class="row">
      <label class="example-listbox-label" id="example-fav-cuisine-label">
        Destinatario(s):
      </label>
      <ul cdkListbox
          [formControl]="destinatarios"
          cdkListboxMultiple
          aria-labelledby="example-fav-cuisine-label"
          class="example-listbox">
        <li *ngFor="let nombre of nombresDestinatarios" [cdkOption]="nombre" class="example-option">{{ nombre }}</li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <label class="example-listbox-label" id="example-fav-cuisine-label">
        Copia:
      </label>
      <ul cdkListbox
          [formControl]="copia"
          cdkListboxMultiple
          aria-labelledby="example-fav-cuisine-label"
          class="example-listbox">
        <li *ngFor="let nombre of nombresDestinatarios" [cdkOption]="nombre" class="example-option">{{ nombre }}</li>
      </ul>
    </div>
      <hr>
      <div class="row">
        <label class="example-listbox-label" id="example-fav-cuisine-label">
          Copia Oculta:
        </label>
        <ul cdkListbox
            [formControl]="copiaOculta"
            cdkListboxMultiple
            aria-labelledby="example-fav-cuisine-label"
            class="example-listbox">
          <li *ngFor="let nombre of nombresDestinatarios" [cdkOption]="nombre" class="example-option">{{ nombre }}</li>
        </ul>
      </div>
      <hr>
      <div class="row">
        <label>Asunto:</label>
        <input class="asunto" type = "text" [(ngModel)] = "asunto">
      </div>
      <hr>
      <div class="row">
        <label>Mensaje:</label>
      </div>
      <div>
        <input class= "cnt" type = "text" [(ngModel)] = "contenido">
         </div>
         <div class="modal-footer">
          <div class="row">
        <button class="btn" (click)="enviarMensaje()">Enviar</button>
          </div>
            </div>
 </div>