<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button> <!-- Botón de cierre -->
</div>
  <div class="modal-body">
    <div class="row">
      <label class="col-md-3">Destinatario:</label>
      <form class="example-form">
        <div *ngFor="let input of destinatarios; let i = index">
          <mat-form-field class="example-full-width">
            <input #inputDestinatario
                  type="text"
                  placeholder="Destinatario"
                  matInput
                  [formControl]="myControlDestinatario"
                  [matAutocomplete]="auto"
                  (input)="filterDestinatario()"
                  (focus)="filterDestinatario()">
            <mat-autocomplete requireSelection #auto="matAutocomplete">
              <div *ngFor="let nombre of nombresDestinatarios">
              <mat-option [value]="nombre">{{nombre}}</mat-option>
              </div>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <button  (click)="addInputDestinatario()">Añadir</button>
      </form>
    </div>
    <hr>
    <div class="row">
      <label>Copia:</label>
              <form class="example-form">
                <div *ngFor="let input of copia; let i = index">
                  <mat-form-field class="example-full-width">
                    <input #inputCopia
                      type="text"
                      placeholder="Destinatario"
                      matInput
                      [formControl]="myControlCopia"
                      [matAutocomplete]="auto"
                      (input)="filterCopia()"
                      (focus)="filterCopia()">
                    <mat-autocomplete requireSelection #auto="matAutocomplete">
                      <div *ngFor="let nombre of nombresDestinatarios">
                        <mat-option [value]="nombre">{{nombre}}</mat-option>
                      </div>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <button (click)="addInputCopia()">Añadir</button>
              </form>
      </div>
      <hr>
      <div class="row">
        <label>Copia Oculta:</label>
              <form class="example-form">
                <div *ngFor="let input of copiaOculta; let i = index">
                  <mat-form-field class="example-full-width">
                    <input #inputCopiaOculta
                           type="text"
                           placeholder="Destinatario"
                           matInput
                           [formControl]="myControlCopiaOculta"
                           [matAutocomplete]="auto"
                           (input)="filterCopiaOculta()"
                           (focus)="filterCopiaOculta()">
                    <mat-autocomplete requireSelection #auto="matAutocomplete">
                      <div *ngFor="let nombre of nombresDestinatarios">
                        <mat-option [value]="nombre">{{nombre}}</mat-option>
                      </div>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <button (click)="addInputCopiaOculta()">Añadir</button>
              </form>
      </div>
      <hr>
      <div class="row">
        <label>Asusnto:</label>
        <input type = "text" [(ngModel)] = "asunto">
      </div>
      <hr>
      <div class="row">
        <label>Mensaje:</label>
      </div>
      <div>
        <input type = "text" [(ngModel)] = "contenido">
         </div>
         <div class="modal-footer">
          <div class="row">
        <button (click)="enviarMensaje()">Enviar</button>
          </div>
            </div>
 </div>